.title{
    text-align: center;
    color: green;
}
.yc{
    color: blue;
}
.me{
    color: rgb(212, 92, 132);
    background-color: pink;
    text-align: center;
}
.nd{
    background-color: rgb(252, 252, 137);
    text-align: center;
}
.kho1 {
    color: blue;
}
.kho2 {
    color: rgb(212, 92, 132);
}
.kho3 {
    color: green;
}
