table{
    border-collapse: collapse;
    border: 0.4mm solid red;
    width: 19%;
    background-color: rgb(65, 245, 245);
    margin: 0 auto;
}

caption{
    text-align: center;
    color:rgb(134, 36, 36);
}