.menu{
    background-color: orange;
}
.menu li{
    display: inline-block;
    position: relative;
    padding: 40px;
    color: white;
    font-weight: bold;
}
.menu2{
    width: 200px;
    background-color: rgb(212, 207, 207);
    margin:auto;
}
.menu2 li{
    font-weight: bold;
    padding: 10px;
    margin:auto;
    list-style: none;
}
.title{
    width: 200px;
    background-color: orange;
    color: white;
    padding: 20px;
    margin:auto;
}
a{
    color:aliceblue;
    text-decoration: none ;
}
.phancap{
    position: relative;
    display: inline-block;
}
.menu li ul{
    top: 100%;
    display: non;
}